# PostgreSQL veritabanı çevre değişkenleri
POSTGRES_DB=telettubies_db
POSTGRES_USER=teletubby_user
POSTGRES_PASSWORD=supersecret123
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Django
DJANGO_SECRET_KEY='django'
# DEBUG=0
