    <h2>Friend Management</h2>
    {% comment %} <button id="add_friend">Send Friend Request</button>
    <button id="remove_friend">Remove Friend</button>
    <button id="list_friends">List Friend</button>
    <button id="ban_user">Block Friend</button>
    <button id="unban_user">Unblock Friend</button>
    <button id"mute_user">Mute Friend</button>
    <button id"unmute_user">Unmute Friend</button>
    <button id="get_friend">Get Friend Requests</button>
    <button id="get_friends">Get Friends</button>
    <button id="get_banned">Get Blocked Users</button>
    <button id="acceptFriendRequest">Accept Friend Request</button>
    <button id="rejectFriendRequest">Reject Friend Request</button>
    <button id="cancelFriendRequest">Cancel Friend Request</button>
    
  
    <input type="text" id="friendIdInput" placeholder="Enter friend's ID">
    <button id="add_friend">Send Friend Request</button>
    <div id="friendsList"></div> {% endcomment %}

    <!-- Add more buttons for other actions -->

    <div>
        <label for="friendIdInput">Friend ID:</label>
        <input type="text" id="friend_usernameInput" name="friendIdInput">
        <button id="add_friend">Friend Add</button>
    </div>


    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Pending Friend Requests
        </div>
        <ul class="list-group list-group-flush" id="pendingFriendRequests">
            <!-- Bekleyen istekler burada listelenecek -->
        </ul>
    </div>
    






    {% comment %} <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div> {% endcomment %}