{% load static %}

<div class="profile-container">
    <div class="profile-background" style="background-image: url('{% static "img/orange.jpeg" %}');">
      <img src="{% static "img/pp.jpeg" %}" class="profile-picture" alt="Profile Picture">
    </div>
  
  <div class="profile-row">
    <div class="link-container">
      <!-- Navigation links -->
      <section style="padding: 12px;">
        <a class="btn btn-primary btn-lg dynamic-profile" id="account-link" role="button">Account</a>
        <hr />
      </section>
      <section style="padding: 12px;">
        <a class="btn btn-primary btn-lg dynamic-profile" id="friends-link" role="button">Friends</a>
        <hr />
      </section>
      <section style="padding: 12px;">
        <a class="btn btn-primary btn-lg dynamic-profile" id="matchHistory-link" role="button">Match History</a>
        <hr />
      </section>
    </div>
    <div id="content-profile" class="content-container">
        <div class="container-fluid">
            <h3 class="text-dark mb-4">Profile</h3>
            <div class="row mb-3">
                <div class="col-lg-4">
                    <div class="card mb-3">
                        <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="" width="160" height="160" />
                            <div class="mb-3"><button class="btn btn-primary btn-sm finput" type="button">Change Photo</button></div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <button type="button" class="btn btn-secondary">enable 2fa</button>
                        </div>
                    </div>
                </div>
                
                    <div class="row">
                        <div class="col">
                            <div class="card shadow mb-3">
                                <div class="card-header py-3">
                                    <p class="text-primary m-0 fw-bold">User Settings</p>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3">
                                                  <label class="form-label" for="username"><strong>Username</strong></label>
                                                  <input id="username" class="form-control" type="text" placeholder="user.name" name="username" readonly />
                                                </div>
                                              </div>
                                              
                                            <div class="col">
                                                <div class="mb-3"><label class="form-label" for="email"><strong>Email Address</strong></label><input id="email" class="form-control" type="email" placeholder="user@example.com" name="email" /></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3"><label class="form-label" for="first_name"><strong>First Name</strong></label><input id="first_name" class="form-control" type="text" placeholder="John" name="first_name" /></div>
                                            </div>
                                            <div class="col">
                                                <div class="mb-3"><label class="form-label" for="last_name"><strong>Last Name</strong></label><input id="last_name" class="form-control" type="text" placeholder="Doe" name="last_name" /></div>
                                            </div>
                                        </div>
                                        <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  

