
<div class="profile-container">
  <div class="profile-row">
    <div class="link-container">
      <!-- Navigation links -->
      <section style="padding: 12px;">
        <a class="btn btn-primary btn-lg dynamic-profile" id="account-link" role="button">Account</a>
        <hr />
      </section>
      <section style="padding: 12px;">
        <a class="btn btn-primary btn-lg dynamic-profile" id="friends-link" role="button">Friends</a>
        <hr />
      </section>
      <section style="padding: 12px;">
        <a class="btn btn-primary btn-lg dynamic-profile" id="matchHistory-link" role="button">Match History</a>
        <hr />
      </section>
    </div>
    <div id="content-profile" class="content-container">
      
<div>
    <label for="friendIdInput">Friend ID:</label>
    <input type="text" id="friend_usernameInput" name="friendIdInput">
    <button id="add_friend">Friend Add</button>
</div>


<div class="card" style="width: 18rem;">
    <div class="card-header">
        Pending Friend Requests
    </div>
    <ul class="list-group list-group-flush" id="pendingFriendRequests">
    </ul>
</div> 


<div class="container-fluid">
    <div class="card shadow">
        <div class="card-body">
            <div id="dataTable" class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
                <table id="dataTable" class="table my-0">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Status</th>
                            <th>message</th>
                            <th>invite</th>
                            <th>block</th>
                            <th>other</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Username</strong></td>
                            <td><strong>Status</strong></td>
                            <td><strong>message</strong></td>
                            <td><strong>invite</strong></td>
                            <td><strong>block</strong></td>
                            <td><strong>other</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
    </div>
  </div>
  