
<div class="profile-container">
    
    <div class="profile-row">
      <div id="content-profile" class="content-container">
          <div class="container-fluid">
              <div class="row mb-3">
                  <div class="col-lg-4">
                      <div class="card mb-3">
                          <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="" width="160" height="160" />
                          </div>
                      </div>
                  </div>
                  
                      <div class="row">
                          <div class="col">
                              <div class="card shadow mb-3">
                                  <div class="card-header py-3">
                                      <p class="text-primary m-0 fw-bold">User Settings</p>
                                  </div>
                                  <div class="card-body">
                                      <form>
                                          <div class="row">
                                              <div class="col">
                                                  <div class="mb-3">
                                                    <label class="form-label" for="username"><strong>Username</strong></label>
                                                  </div>
                                                </div>
                                                
                                                <div class="col">
                                                  <div class="mb-3">
                                                    <label class="form-label" for="email"><strong>Email Address</strong></label>
                                                  </div>
                                                </div>
                                          </div>
                                          <div class="row">
                                              <div class="col">
                                                  <div class="mb-3"><label class="form-label" for="first_name"><strong>First Name</strong></label><input id="first_name" class="form-control" type="text" placeholder="John" name="first_name" /></div>
                                              </div>
                                              <div class="col">
                                                  <div class="mb-3"><label class="form-label" for="last_name"><strong>Last Name</strong></label><input id="last_name" class="form-control" type="text" placeholder="Doe" name="last_name" /></div>
                                              </div>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    
  
  