
<div class="profile-container">
  <div class="profile-row">
    <div class="link-container">
      <!-- Navigation links -->
      <section style="padding: 12px;">
        <a class="btn btn-primary btn-lg dynamic-profile" id="account-link" role="button">Account</a>
        <hr />
      </section>
      <section style="padding: 12px;">
        <a class="btn btn-primary btn-lg dynamic-profile" id="friends-link" role="button">Friends</a>
        <hr />
      </section>
      <section style="padding: 12px;">
        <a class="btn btn-primary btn-lg dynamic-profile" id="matchHistory-link" role="button">Match History</a>
        <hr />
      </section>
    </div>
        <div id="content-profile" class="content-container">
          
        </div>
  </div>
</div>
  